.activity-feed {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}

.activity-item {
  display: flex;
  gap: 12px;
  padding: 16px;
  background: #d3d3d347;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.activity-icon {
  font-size: 80%;
  position: absolute;
  right: 61em;
  width: 25px;
  padding: 1px 3px;
  height: 25px;
  border: 0.5px solid lightgrey;
  border-radius: 15px;
  background: white;
  border: 0.5px solid lightgrey;
}

.activity-content {
  flex: 1;
}

.activity-header {
  margin-bottom: 4px;
}

.user {
  color: #00bcd4;
  font-weight: bold;
}

.timestamp {
  color: #666;
  font-size: 11px;
  position: absolute;
  right: 74em;
}

.activity-text {
  color: #333;
}

.delete-icon {
  cursor: pointer;
  color: #00bcd4;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.activity-icon::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #ccc;
  top: 101%;
  bottom: -78px;
  left: 50%;
  transform: translateX(-50%);
}

.activity-item:last-child .activity-icon::after {
  display: none;
}